<header class="sticky">
    <nav class="navbar navbar-default bootsnav">
        <div class="container">
            <div class="navbar-header">

                <a title="votersurvey" rel="home">
                    <img src="assets/GFTR.jpg" width="150" height="80" alt="Image" style="border-radius: 50%;">
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
                <li><a href="/login">Logout</a></li>
        </div>
    </nav>
    <div class="clearfix"></div>
</header>